# Docker build context is the elixir monorepo root (see deploy_to_linode/deploy.sh).

full_circle/
least_cost_feed/
orgmind/
peggy/
pou_con/
usbboot/

tugas/_build/
tugas/deps/
tugas/cover/
tugas/doc/
tugas/test/
tugas/tmp/
tugas/.elixir_ls/
tugas/.git/
tugas/assets/node_modules/
tugas/priv/static/assets/
tugas/priv/static/cache_manifest.json
tugas/deploy_to_linode/
tugas/*.tar
tugas/secret.txt
tugas/deploy.conf

.global_assets/heroicons/.git/

.git/