# Docker build context is the elixir monorepo root (see deploy_to_linode/deploy.sh).

full_circle/
least_cost_feed/
orgmind/
peggy/
pou_con/
usbboot/

argus/_build/
argus/deps/
argus/cover/
argus/doc/
argus/test/
argus/tmp/
argus/.elixir_ls/
argus/.git/
argus/assets/node_modules/
argus/priv/static/assets/
argus/priv/static/cache_manifest.json
argus/deploy_to_linode/
argus/*.tar
argus/secret.txt
argus/deploy.conf

.global_assets/heroicons/.git/

.git/